<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeGaBus</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<body>
    <p class="aa"> <strong>마일리지 내역</strong> </p>
    <table class="list">
        <tr bgcolor="#E8D9FF">
            <td align="center">일시</td>
            <td align="center">적립/사용</td>
            <td align="center">마일리지</td>
            <td align="center">용도</td>
        </tr>
        {% for item in rstlst %}
        <tr>
            <td align="center">{{item.2}}</td>
            <td align="center">{{item.0}}</td>
            <td align="center">{{item.1}}</td>
            <td align="center">{{item.3}}</td>
        </tr>
        {% endfor %}
    </table>
    <table  border="0" width=300" height="100">
        <tr>
            <td align="center">
                 <button type="button" style="color: #fff; background:#A566FF; font-size:1em; border-radius:0.5em; padding:3px 15px;"  onclick="location.href='{{ request.META.HTTP_REFERER }}'">이전</button>
            </td>
        </tr>
    </table >
</body>
</html>