<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeGaBus</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<body>
    <p class="aa">마이페이지</p>
    <table width="60%">
        <tr>
            <td align="center" colspan="2"><p style="font-size:150%;" >잔여 마일리지</p><p style="font-size:20px;color:red;" >{{ mileage }}P</p></td>
        </tr>
        </tr>
            <td width="40%">나의 이용내역</td>
            <td><a href="/megabus/mypage/uselist">보기</a></td>
        </tr>
        <tr>
            <td width="40%">마일리지 내역</td>
            <td><a href="/megabus/mypage/mileagelist">보기</a></td>
        </tr>
        <tr>
            <td width="40%">결제 내역</td>
            <td><a href="/megabus/mypage/paylist">보기</a></td>
        </tr>
    </table>
</body>
</html>