<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>MeGaBus</title>
</head>
<link href="../style.css" rel="stylesheet" type="text/css">
<body>
    <p class="aa"> <strong>결제 내역</strong> </p>
<table class="list">
        <tr bgcolor="#E8D9FF">
            <td align="center">날짜</td>
            <td align="center">수단</td>
            <td align="center">금액</td>
        </tr>
        <tr>
            <td align="center">7/8</td>
            <td align="center">카드</td>
            <td align="center">1800</td>
        </tr>
        <tr>
            <td align="center">8/7</td>
            <td align="center">마일리지</td>
            <td align="center">1100</td>
        </tr>
</table>
    <table  border="0" width="300" height="100">
        <tr>
            <td align="center">
                     <button type="button" style="color: #fff; background:#A566FF; font-size:1em; border-radius:0.5em; padding:3px 15px;"  onclick="location.href='mypage.html'">이전</button>
              </td>
        </tr>
    </table >
</body>
</html>