<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeGaBus</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<script>

function gonext(){
    var frm = document.frm;

    var cnt = frm.onstation.options.length;
    for (var i=0 ; i < cnt ; i++){
        if (frm.onstation.options[i].selected == true){
            frm.onbsname.value = frm.offstation.options[i].text
            frm.onbsid.value = frm.offstation.options[i].value
        }
    }
    cnt = frm.offstation.options.length;
    for (var i=0 ; i < cnt ; i++){
        if (frm.offstation.options[i].selected == true){
            frm.offbsname.value = frm.offstation.options[i].text
            frm.offbsid.value = frm.offstation.options[i].value
        }
    }

    if (frm.prepay.value=='Y' ) {
        frm.action="/megabus/pay/prepayform";
    }
    else {
        frm.action="/megabus/pay/prepay";
    }

    return true;
}
</script>
<body>
    <p class="aa"> <strong>정류장 등록 및 선결제</strong> </p>
    <form name="frm" action="" method="POST" onsubmit="return gonext()">{% csrf_token %}
        <input type="hidden" name="bnum" value="{{ bnum }}">
        <input type="hidden" name="onbsid" value="">
        <input type="hidden" name="onbsname" value="">
        <input type="hidden" name="offbsid" value="">
        <input type="hidden" name="offbsname" value="">
        <input type="hidden" name="payamt" value="">
        <input type="hidden" name="paytype" value="">
        <table>
            <tr>
                <td>
                    <label>(1)승차 정류장 등록</label>
                </td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            <tr>
                <td>
                    <select name="onstation">
                        {% for item in stationlst %}
                        <option value="{{ item.0 }}">{{ item.1 }} >> {{ item.2 }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td height="30"></td>
            </tr>

            <tr>
                <td>
                    <label>(2)하차 정류장 등록</label>
                </td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            <tr>
                <td>
                    <select name="offstation">
                        {% for item in stationlst %}
                        <option value="{{ item.0 }}">{{ item.1 }} >> {{ item.2 }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td height="30"></td>
            </tr>
            <tr>
                <td>
                    <label>선결제를 하시겠습니까?</label>
                </td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="prepay" value="Y">예
                    <input type="radio" name="prepay" checked value="N">아니요

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td align="center">
                    <button type="submit" style="color: #fff; background:#A566FF; font-size:1em; border-radius:0.5em; padding:3px 15px;">등록</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>