<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeGaBus</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<script>
    function selectready(id, bnum) {

        document.frm.ulid.value = id;
        document.frm.bnum.value = bnum;

        document.frm.submit();
    }
</script>
<body>
    <p class="aa"> <strong>승차 대기 신청</strong> </p>
    <form name="frm" action="/megabus/takeonoff/ready" method="post">{% csrf_token %}
        <input type="hidden" name="ulid" value="">
        <input type="hidden" name="bnum" value="">
        <table class="list">
            <tr bgcolor="#E8D9FF">
                <td align="center">등록일</td>
                <td align="center">버스번호</td>
                <td align="center">승차정류장</td>
                <td align="center">하차정류장</td>
                <td align="center">대기</td>
            </tr>
            {% for item in rstlst %}
            <tr>
                <td align="center">{{ item.4 }}</td>
                <td align="center">{{ item.1 }}</td>
                <td align="center">{{ item.2 }}</td>
                <td align="center">{{ item.3 }}</td>
                <td align="center"><a href="#" onclick="selectready({{ item.0 }},'{{ item.1 }}');">신청</a></td>
            </tr>
            {% endfor %}
        </table>
        <table border="0" width="300">
            <tr>
                <td align="center">
                         <button type="button" style="color: #fff; background:#A566FF; font-size:1em; border-radius:0.5em; padding:3px 15px;"  onclick="location.href='{{ request.META.HTTP_REFERER }}'">이전</button>
                </td>
            </tr>
        </table >
    </form>
</body>
</html>